@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 overflow-hidden;
  }
}

.glass-panel {
  @apply bg-slate-900/60 backdrop-blur-md border border-slate-700/50 shadow-xl;
}

.screen-crt {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
